.check{
    height:10px;
    width:20px
}
.btn{
     height: 40px;
     width:270px;
     background-color: #2a6dd1;
     color:white;
     border-width: 0px;
     font-size: 16px;
     padding:6px;
     border-radius: 6px;
}
.container{
    display: flex;
    justify-content: space-between;
}
